:root {
  /* constants */
  --white: #fdfdfd;
  --white-alt: #f5f5f5;
  --black: #101010;
  --black-alt: #202020;
  --accent: #a667f3;

  /* variables */
  --text-primary: var(--black);
  --background-primary: var(--white);
  --background-secondary: var(--white-alt);
  --border-primary: var(--white-alt);

  /* root styles */
  color: var(--text-primary);

  /* 
    override ory theme, see: https://github.com/ory/elements/tree/main/packages/elements-react#theming
  */
  --input-background-default: var(--background-primary);
  --input-background-hover: var(--background-secondary);
  --border-radius-buttons: 1rem;
  --border-radius-forms: 1rem;

  --button-social-foreground-default: var(--text-primary);
  --button-social-background-default: var(--background-primary);
  --button-social-background-hover: var(--background-secondary);

  --button-secondary-foreground-hover: var(--text-primary);
  --button-secondary-background-hover: var(--background-secondary);

  --interface-foreground-default-primary: var(--text-primary);
  --interface-foreground-brand-primary: var(--accent);
  --interface-border-default-primary: var(--border-primary);
  --interface-background-default-primary: var(--background-primary);
  --interface-background-default-secondary: var(--background-secondary);
  --interface-background-default-primary-hover: var(--background-secondary);
}

/* Dark mode theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: var(--white);
    --background-primary: var(--black);
    --background-secondary: var(--black-alt);
    --border-primary: var(--black-alt);
  }
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  gap: 21px;
  padding: 21px 0;
}

.page .page-title {
  font-size: 24px;
  font-weight: 600;
}

.card-root {
  width: 100%;
  gap: 21px;
  display: flex;
  flex-direction: column;

  a,
  .text-button-link-brand-brand {
    text-decoration: none;
    font-weight: bold;
  }

  a#continue {
    border: none;
    border-radius: var(--border-radius-buttons);
  }

  input {
    border: none;
  }

  input:hover {
    background-color: var(--black);
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 35px;
  max-width: 400px;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 21px;
}
